{% extends "client/__base.html" %}

{% block content %}
<p>&quot;The reason we even have colleges is that at some point there were politicians who said, &lsquo;You know what? We should start colleges.&rsquo; &quot;</p>

<p>What party is the person who said this?</p>

<!--- This list should be dynamic --->
<a href="">Democrat</a> | <a href="">Republican</a>

<hr/>

<img src="candidate.jpg" /><div><p>&quot;The reason we even have colleges is that at some point there were politicians who said, &lsquo;You know what? We should start colleges.&rsquo; &quot;</p></div>

<p>You were right!</p>

<p>You were wrong!</p>

<a href=""> Play Again?</a>

<hr/>

<div>
    Score: 100% (1 out of 1)
</div>

{% endblock %}
