{% extends "client/__base.html" %}

{% block content %}

<div ng-controller="ClientController" data-ng-init="showNewQuote()">
    {%verbatim%}
    <div class="scoreCard">
        <div class="scoreBox"><label for="score">Score: <span class="scorePercent">{{scoreCorrectPercentage}}</span> (<span class="scoreCorrect">{{scoreCorrect}}</span> out of <span class="scoreTotal">{{scoreTotal}}</span>)</label></div>
        Politician Cache: {{ politician_array.length }}
    </div>
    {%endverbatim%}

    <div ng-show="clicked == false && politician_array.length==0">
        One second we're fetching some politician information. ;)
    </div>

    <div ng-show="clicked == false && politician_array.length !=0">
        <h2>What party is the person who said this?</h2>
        <p id="test" ng-hide="clicked" ng-bind-html="politicians.statement"></p>
        <div class="footer">
            <span ng-repeat="myParty in party">
                {%verbatim%}<a ng-click="showPolitician(myParty)" class="btn btn-primary" role="button">{{myParty | capitalize}}</a>{%endverbatim%}
            <span>
        </div>
    </div>

    {%verbatim%}
    <div id = "outer" ng-show="clicked" >
        <img class="politics" id="img_polit" src = "{{politicians.image_url}}" />
        <div id="box" ng-show="showFaceBox==true"></div>
        <p class="thought animated infinite tada" id="bubble" ng-bind-html="politicians.statement"></p>    
        <div class="footer">
            <p ng-show="correct">You were right!</p>
            <p ng-show="correct == false">You were wrong!</p>
            <a ng-click = "showNewQuote()" class="btn btn-primary" role="button"> Play Again?</a>
            <label><input type="checkbox" checked="true" ng-model="showFaceBox"> Show Face Detection</label>
        </div>
    </div>
    {%endverbatim%}
    
</div>
{% endblock %}
