{% extends "client/__base.html" %}

{% block content %}

<p id="test" ng-hide="clicked" ng-bind-html="politicians.statement"></p>
<!-- This list should be dynamic -->
<div ng-hide="clicked">
    <p>What party is the person who said this?</p>
    <a ng-click="showPolitician()" href="">{%verbatim%}{{party[0] | capitalize}}{%endverbatim%}</a> |
    <a ng-click="showPolitician()" href="">{%verbatim%}{{party[1] | capitalize}}{%endverbatim%}</a>
</div>

<div>
    <a ng-click = "showNewQuote()" ng-show = "clicked" href = ""> NEXT </a>
</div>

<hr/>

<div id = "outer" ng-show="clicked" >
    <img class="politics" id="img_polit" src = "{%verbatim%}{{politicians.image_url}}{%endverbatim%}" />
    <div id="box"></div>
    <p class="thought animated infinite tada" id="bubble" ng-bind-html="politicians.statement">
    </p>
</div>

<p>You were right!</p>

<p>You were wrong!</p>

<a ng-click="reloadPage()" href="" class="btn btn-primary" role="button"> Play Again?</a>

<hr/>

<div>
    Score: 100% (1 out of 1)
</div>

{% endblock %}
