{% extends "client/__base.html" %}

{% block content %}

<div ng-controller="ClientController" data-ng-init="getData(); showNewQuote()">
    {%verbatim%}
    <div class="scoreCard">
        <div class="scoreBox"><label for="score">Score: <span class="scorePercent">{{scoreCorrectPercentage}}%</span> (<span class="scoreCorrect">{{scoreCorrect}}</span> out of <span class="scoreTotal">{{scoreTotal}}</span>)</label></div>
        Politician Cache: {{ politician_array.length }}
    </div>
    {%endverbatim%}

    <div ng-show="clicked == false && politicians === undefined" id="test" class="centered">
        Just a moment! We are filibustering! ;)
        </br>
        <img style="padding-top:55px;" class="result" src="static/css/img/loading.gif"/>
    </div>

    <div ng-show="clicked == false && politicians !== undefined" class="centered">
        <h2>Which party said this?</h2>
        <p id="test" style="" ng-hide="clicked" ng-bind-html="politicians.statement"></p>
        <div class="footer">
            <span ng-repeat="myParty in party">
                {%verbatim%}<a ng-click="showPolitician(myParty)" class="btn btn-primary" role="button">{{myParty | capitalize}}</a>{%endverbatim%}
            <span>
        </div>
    </div>

    {%verbatim%}
    <div id = "outer" ng-show="clicked" >
        <div>
            <img class="politics" id="img_polit" src = "{{politicians.image_url}}"/>
            <div id="box" ng-show="showFaceBox==true"></div>
            <div bubble-chart chart-data="entities" id="chart" style="float:right;"></div>
            <p class="thought animated tada" id="bubble" ng-bind-html="politicians.statement"></p>
            <div class="politdata"> {{politicians.politician}} | {{politicians.party}}
                <img class="result animated flash" src="static/css/img/green_check.png" ng-show="correct"/>
                <img class="result animated flash" src="static/css/img/x-mark.png" ng-show="correct == false"/>
            </div>
        </div>
        <div class="footer">
            <a ng-click = "showNewQuote()" class="btn btn-primary" role="button"> Play Again?</a>
            <label><input type="checkbox" checked="true" ng-model="showFaceBox"> Show Face Detection</label>
        </div>
    </div>
    {%endverbatim%}

</div>
{% endblock %}
