Django==1.7.4
simplejson==3.3.1
MySQL-python==1.2.5
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.1.1
pytz==2011k
requests==2.5.0
urllib3==1.9.1
pycrypto==2.4.1
pyOpenSSL==0.12
static==0.4
wsgiref==0.1.2
whitenoise==1.0.6